.Maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  div:nth-child(2) {
    h2 {
      font-size: x-large;
    }
    h3 {
      font-size: medium;
    }

  }
}